body {
  background-color: #15102E;
  font-family: Calibri, sans-serif;
  font-size: 16px; }

#dashboard-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #454658;
  z-index: 1; }

#dashboard-topbar a {
  float: right;
  height: 30px; }

#dashboard-topbar a:hover {
  background-color: #15102E; }

#dashboard-notification {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  padding: 10px 30px 10px 30px;
  background-image: url("../images/dashboard/dashboard_notification.svg"); }

#dashboard-notification.active {
  background-image: url("../images/dashboard/dashboard_notification_hover.svg");
  background-color: #15102E; }

#dashboard-settings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  padding: 10px 30px 10px 30px;
  background-image: url("../images/dashboard/topbar_settings.svg"); }

#dashboard-profile {
  background-image: url("../images/dashboard/topbar_profile.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  background-size: 30px 30px;
  padding: 15px 50px 5px 70px;
  text-align: center;
  text-decoration: none;
  color: white; }

#dashboard-profile-select {
  background: transparent;
  color: white;
  border: none;
  font-size: 16px; }

#dashboard-sidebar {
  position: fixed;
  z-index: 2;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #15102E;
  margin-top: -8px; }

.dashboard-sidebar {
  margin-top: 5px; }

#dashboard-sidebar a:hover {
  background-color: #2E2951; }

#sidebar-home {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_home.svg"); }

#sidebar-es {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_es.svg");
  margin-top: 40px; }

.button-frame:hover #sidebar-es {
  background-image: url("../images/dashboard/leftbar_es_hover.svg"); }

#sidebar-co {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_co.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-co {
  background-image: url("../images/dashboard/leftbar_co_hover.svg"); }

#sidebar-ind {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_ind.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-ind {
  background-image: url("../images/dashboard/leftbar_ind_hover.svg"); }

#sidebar-val {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_val.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-val {
  background-image: url("../images/dashboard/leftbar_val_hover.svg"); }

#sidebar-to {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_to.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-to {
  background-image: url("../images/dashboard/leftbar_to_hover.svg"); }

#sidebar-inputs {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_inputs.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-inputs {
  background-image: url("../images/dashboard/leftbar_inputs_hover.svg"); }

#sidebar-export {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_export.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-export {
  background-image: url("../images/dashboard/leftbar_export_hover.svg"); }

#sidebar-qual {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 35px;
  padding: 25px 20px 25px 20px;
  background-image: url("../images/dashboard/leftbar_qual.svg");
  margin-top: 5px; }

.button-frame:hover #sidebar-qual {
  background-image: url("../images/dashboard/leftbar_qual_hover.svg"); }

.sidebar-content-frame {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #2E2951; }

.sidebar-content-frame a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-bottom: 10px; }

.sidebar-content-frame a:hover {
  color: #00fbab; }

.button-frame:hover .sidebar-button {
  background-color: #2E2951; }

.sidebar-title {
  margin: 0 0 20px 0;
  padding: 6px;
  width: 188px;
  color: #00fbab;
  border-bottom: 1px solid #00fbab;
  transition-property: border-bottom-width;
  transition-duration: 2s; }

#dashboard-sidebar a:hover + div, .sidebar-content-frame:hover {
  display: block; }
