@import "main.scss";

div#index-page-intro
{
  display: inline-block;
  margin-top: 150px;
  margin-left: 25%;
  text-align: left;
  color: white;
  h1 {
    font-size: xxx-large;
  }
  p {
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    color: $greenTextColor;
    padding: 15px;
    font-size: 14px;
    border: solid 2px $greenTextColor;
    border-radius: 30px;
    transition: 0.5s;
  }
  a:hover {
    @include linkHoverFormatter;
    text-decoration: none;
    font-size: 30px;
    border: solid 2px white;
    transition: 0.5s;
  }
}

#index-page-logo {
  display: inline-block;
  width: 350px;
  height: 270px;
}

#footer {
  position: fixed;
}