body {
  margin: 0;
  color: #00fbab;
  font-family: Calibri, sans-serif;
  background: url("../images/home_bg.jpeg"); }

#top-navigation-bar {
  overflow: hidden; }
  #top-navigation-bar #layout-company-name a p {
    float: left !important;
    padding-left: 20px;
    padding-top: 7px;
    font-size: 17px;
    cursor: pointer;
    color: #00fbab; }
  #top-navigation-bar #layout-links a {
    padding: 14px 30px;
    text-decoration: none;
    color: #00fbab;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    float: right; }
  #top-navigation-bar #layout-links a:hover {
    text-decoration: none; }
  #top-navigation-bar #layout-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00fbab;
    transform: scaleX(0);
    text-decoration: none;
    transition: transform 0.3s ease; }
  #top-navigation-bar #layout-links a:hover::before {
    transform: scaleX(1); }
  #top-navigation-bar #layout-links .link-selected {
    color: white !important; }

#footer {
  bottom: 0;
  width: 100%;
  z-index: 1;
  flex-shrink: 0;
  color: #00fbab;
  text-align: center;
  padding-top: 15px; }
  #footer #footer-company-name {
    font-size: 18px;
    margin-bottom: 10px; }
    #footer #footer-company-name a {
      text-decoration: none; }
      #footer #footer-company-name a p {
        color: #00fbab;
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 10px; }
        #footer #footer-company-name a p #copyright-icon {
          width: 8px;
          margin-bottom: 5px; }
  #footer p i {
    size: 30px;
    color: #00fbab; }
  #footer i {
    margin-right: 30px;
    margin-bottom: 10px;
    color: #00fbab; }
  #footer section {
    border-bottom: 1px solid darkgrey;
    width: 85%;
    margin: 0 auto 10px; }
    #footer section #facebook-icon {
      width: 15px;
      border-radius: 5px;
      margin-right: 20px;
      margin-bottom: 10px; }
    #footer section #instagram-icon {
      width: 17px;
      margin-bottom: 10px; }
  #footer p {
    font-size: 12px; }
    #footer p a {
      padding: 14px 14px;
      text-decoration: none;
      color: #00fbab;
      font-size: 12px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.5s;
      position: relative; }
    #footer p a:hover {
      text-decoration: none;
      color: white !important; }

#sign-up-form-container {
  margin: 0 auto;
  text-align: center;
  width: 345px; }

#signup-form-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #00fbab;
  margin-bottom: 20px;
  color: white; }

#name {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  background-image: url("../images/input_signup_name.svg"); }

#company-name {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  background-image: url("../images/input_signup_company.svg"); }

#phone-number {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  background-image: url("../images/input_signup_phone.svg"); }

#email-address {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  background-image: url("../images/input_login_mail.svg"); }

#password, #password-repeat {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  background-image: url("../images/input_login_pass.svg"); }

#sign-up-form {
  text-align: left;
  padding-bottom: 100px;
  margin-bottom: 50px; }
  #sign-up-form label {
    font-size: 12px; }
  #sign-up-form input {
    display: block;
    margin-bottom: 25px;
    padding: 10px 10px 10px 55px;
    width: 280px;
    height: 20px;
    border-radius: 8px;
    border-color: #00fbab;
    border-style: solid;
    background-color: #2d2951;
    color: white;
    font-size: 17px; }
  #sign-up-form input.button {
    height: 40px;
    width: 345px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    background-color: #00fbab;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px; }
  #sign-up-form input.button:hover {
    color: white; }

#footer {
  display: inline-block;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both; }

.error-message {
  font-weight: bold;
  font-size: xx-large;
  margin-top: 30px;
  text-align: center; }

select {
  background-color: #03034b;
  color: white; }

input#phone::-webkit-outer-spin-button,
input#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.loader {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #00fbab;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
