@import 'main.scss';

html, body, #sign-up-form-container {
}

#sign-up-form-container {
  width: 100%;
}

#sign-up-form {
  text-align: center;
  overflow: auto;
  padding-bottom: 100px;
  margin-bottom: 50px;
  margin-top: 50px;

  label {
    margin-top: 45px;
  }

  input {
    margin-top: 15px;
    margin-bottom: 35px;
    width: 30%;
    height: 22px;
    border-radius: 4px;
  }

  input.button {
    height: 32px;
    width: 7%;
    margin-top: 0;
    margin-bottom: 0;
    color: $greenTextColor;
    background-color: #2e2e75;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
  }
}

#footer  {
  display: inline-block;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}

.error-message {
  @include errorMessageFormatter;
}

select {
  background-color: #03034b;
  color: white;
}

input#phone::-webkit-outer-spin-button ,
input#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.loader {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid $greenTextColor;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

