<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/dashboard.css">
    <script src="/js/dashboard.js"></script>
    {% block head %}
    <title>Main page</title>
    {% endblock %}
</head>
{% block body %}
<div id="dashboard-topbar">
    <a href="" id="dashboard-profile">
        <select name="cars" id="dashboard-profile-select">
            <option value="volvo"></option>
        </select>
    </a>
    <a href=""  id="dashboard-settings"></a>
    <a href="" id="dashboard-notification"></a>
</div>



<div id="dashboard-sidebar">
        <a id="sidebar-home" class="sidebar-button" href="/"></a>

    <div class="button-frame">
        <a id="sidebar-es" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title" >Executive Summary</p>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-co" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title" >Company Overview</p>
                <a href="">Business Model</a>
                <a href="">Operating Forecast</a>
                <a href="">Shareholders Ownership</a>
                <a href="">Liquidity Analysis</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-ind" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Industry</p>
                <a href="">Benchmarking</a>
                <a href="">Competitive Environment</a>
                <a href="">Key Industry Trends</a>
                <a href="">Corporate Financial Activity</a>
                <a href="">Market Share</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-val" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Valuation</p>
                <a href="">Ratio Analysis</a>
                <a href="">Statement Analysis</a>
                <a href="">Discounted Cash Flow</a>
                <a href="">Comparables</a>
                <a href="">Precedent Transactions</a>
                <a href="">Mergers & Acquisitions</a>
                <a href="">Pro Forma </a>
                <a href="">Share Price Analysis</a>
                <a href="">Leverage Byouts</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-to" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Transaction Opportunities</p>
                <a href="">Strategic Review</a>
                <a href="">Recommendation I. </a>
                <a href="">Recommendation II.</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-inputs" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Inputs</p>
                <a href="">Balance Sheet</a>
                <a href="">Income Statement</a>
                <a href="">Cash Flow</a>
                <a href="">Comparables</a>
                <a href="">Precedent Transactions</a>
                <a href="">Market Share</a>
                <a href="">Capital IQ</a>
                <a href="">PitchBook</a>
                <a href="">Consensus</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-export" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Export</p>
                <a href="">PDF</a>
                <a href="">XLSX</a>
            </div>
    </div>

    <div class="button-frame">
        <a id="sidebar-qual" class="sidebar-button"></a>
            <div class="sidebar-content-frame">
                <p class="sidebar-title">Qualitatives</p>
            </div>
    </div>

</div>


{% endblock %}
</html>