{% extends "layout.html" %}

{% block head %}
<title>Bruteforce Analytics - Main page</title>
<link rel="stylesheet" href="/style/login.css">
{% endblock %}

{% block body %}
<div id="login-form-container">
    <p id="login-form-title">LOG IN</p>
    <p class="error-message">{{ errorMessage }}</p>
    <div id="login-form">
        <form action="/login" method="post">
            <label for="email-address">Email address:</label><br>
            <input type="text" id="email-address" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" ><br><br>
            <input class="button" type="submit" value="LOGIN">
        </form>
    </div>
    <a id="login-forgot" href="/login">Forgot my password</a>
    <a id="login-signup" href="/sign-up">Create an account</a>
</div>


{% endblock %}
