{% extends "layout.html" %}

{% block head %}
<title>Bruteforce Analytics - Main page</title>
<link rel="stylesheet" href="/style/sign-up.css">
{% endblock %}

{% block body %}

<div id="sign-up-form-container">
    <div id="sign-up-form">
        <form action="/sign-up" method="post">
            <p class="error-message">{{ notMatchingPasswordsErrorMessage }}</p>
            <p class="error-message">{{ notAllFieldFulfilledErrorMessage }}</p>
            <p class="error-message">{{ incorrectEmailFormatErrorMessage }}</p>
            <label for="name">First name:</label><br>
            <input type="text" id="name" name="name" value="{{ initialName }}"><br>
            <label for="email">Email address:</label><br>
            <input type="text" id="email" name="email" value="{{ initialEmail }}"><br>
            <label for="phone">Phone number:</label><br>
            <select name="phonePrefix" id="phonePrefix">
                <option value="36">+36</option>
                <option value="420">+420</option>
            </select>
            <input type="number" id="phone" name="phone" value="{{ initialPhone }}"><br>
            <label for="company">Company name:</label><br>
            <input type="text" id="company" name="company" value="{{ initialCompany }}"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="passwordRepeat">Repeat password:</label><br>
            <input type="password" id="passwordRepeat" name="passwordRepeat" ><br><br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}