{% extends "layout.html" %}

{% block head %}
<title>Bruteforce Analytics - Main page</title>
<link rel="stylesheet" href="/style/sign-up.css">
{% endblock %}

{% block body %}

<div id="sign-up-form-container">
    <p id="signup-form-title">SIGN UP</p>
    <div id="sign-up-form">
        <form action="/sign-up" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="first-name">
            <label for="company-name">Company name:</label>
            <input type="text" id="company-name" name="company-name">
            <label for="phone-number">Phone number:</label>
            <input type="number" id="phone-number" name="phone-number">

            <label for="email-address">Email address:</label>
            <input type="text" id="email-address" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >
            <label for="password-repeat">Repeat password:</label>
            <input type="password" id="password-repeat" name="password-repeat" >
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}